@import "./base/reset";
@import "./base/font";
@import "./base/variable";

.wrapper {
  display: grid;
  grid-template-columns: 269px auto;
  font-family: $FuturaPT;
  height: 100vh;
  overflow: hidden;

  .popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    &__box {
      padding: 20px 30px;
      width: 390px;
      height: 210px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

      &__title {
        font-size: 18px;
        height: 60px;
      }
      &__text-input {
        margin-bottom: 44px;
        input {
          border: none;
          border-bottom: 2px solid rgba(222, 222, 222, 0.5);
          width: 100%;
          font-size: 20px;
          &:focus {
            border-bottom: 2px solid rgba(27, 103, 153, 1);
          }
        }
      }
      &__control {
        display: flex;
        justify-content: flex-end;
        & > div {
          margin: 3px;
          width: 81px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: rgb(41, 47, 59);
          &:hover {
            background: rgba(222, 222, 222, 0.8);
          }
        }
      }
    }
  }

  .menu-area {
    // position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #313f46 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    color: $colorTextMenu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    &__bottom {
      display: flex;
    }
    &__logout,
    &__delete {
      padding-left: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 145px;
      border-radius: 20px;
      &:hover {
        background: $colorActiveItemMenu;
      }
      &.active {
        background: $colorActiveItemMenu;
      }
      padding: 10px;
      padding-left: 10px;
      img {
        margin-right: 10px;
      }
    }
    &__logout {
      width: 140px;
      img {
        margin-right: 15px;
      }
    }

    .create-new {
      height: 50px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 50px;
      opacity: 1;
      display: flex;
      align-items: center;
      padding-left: 25px;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        background: rgba(254, 254, 254, 0.95);
        // box-shadow: inset 58px 16px 94px -93px rgba(6, 6, 8, 0.9);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
          0 1px 18px 0 rgba(0, 0, 0, 0.12);
      }

      span {
        font-family: $FuturaPT;
        color: $colorActiveItemMenu;
        margin-left: 17px;
        font-size: 16px;
      }
    }

    .menu-item {
      // width: 270px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      padding-left: 25px;
      font-family: $FuturaPT;
      color: $colorTextMenu;
      position: relative;
      cursor: pointer;
      span {
        margin-left: 17px;
      }
      &.active {
        background: $colorActiveItemMenu 0% 0% no-repeat padding-box;
      }
      &:hover {
        background: $colorActiveItemMenu 0% 0% no-repeat padding-box;
      }
    }

    .quantity {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 30px;
      background: #454e55 0% 0% no-repeat padding-box;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    .category-area {
      display: flex;
      padding-left: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
      cursor: pointer;
      p {
        margin-left: 17px;
      }
      border-radius: 50px;
      &.active {
        background: $colorActiveItemMenu;
      }
      &:hover {
        background: $colorActiveItemMenu;
      }
      .arrow-cate {
        position: absolute;
        top: 17px;
        right: 20px;
        &.up {
          transform: rotate(180deg);
        }
      }
    }

    /* Let's get this party started */
    .category-list::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    .category-list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    .category-list::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(222, 222, 222, 0.4);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    // .category-list::-webkit-scrollbar-thumb {
    //   background: rgba(255, 0, 0, 0.4);
    // }
    .scroll-bar-wrap {
      position: relative;
      margin-right: -3px;
      .cover-bar {
        position: absolute;
        background: #313f46 0% 0% no-repeat padding-box;
        height: 100%;
        top: 0;
        right: -2px;
        width: 9px;
        -webkit-transition: all 0.5s;
        opacity: 1;
      }
      &:hover .cover-bar {
        opacity: 0;
       -webkit-transition: all .5s;
     }
    }
    .category-list {
      padding-left: 26px;
      max-height: calc(100vh - 320px);
      overflow-y: auto;

      &.hidden {
        display: none;
      }

      .category-item {
        position: relative;
        padding-left: 15px;
        display: flex;
        min-height: 40px;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;

        p {
          margin-left: 13px;
        }
        .quantity {
          top: 5px;
        }

        .control-cate {
          position: absolute;
          top: 5px;
          right: 10px;
          width: 40px;
          height: 30px;
          // background: #454e55 0% 0% no-repeat padding-box;
          border-radius: 50px;
          align-items: center;
          justify-content: center;
          display: none;
          div {
            padding: 4px;
            img:hover {
              transform: scale(1.3);
            }
          }
        }
        &.active {
          background: $colorActiveItemMenu;
        }
        &:hover {
          background: $colorActiveItemMenu;
          .quantity {
            display: none;
          }
          .control-cate {
            display: flex;
          }
        }
      }
    }
  }

  .main-area {
    display: grid;
    grid-template-columns: 359px auto;

    .title-area {
      & > div {
        padding-left: 20px;
        padding-right: 20px;
      }
      .search-box {
        // width: 450px;
        height: 70px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;
        padding-top: 15px;
        position: relative;

        .search {
          width: 100%;
          height: 40px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #cdd6dd;
          border-radius: 120px;
          padding-left: 21px;
          padding-right: 50px;
          font-family: $FuturaPT;

          &::placeholder {
            color: #cdd6dd;
          }
          &:focus {
            border: #072944;
          }
        }
        .search-icon {
          position: absolute;
          top: 25px;
          right: 41px;
          cursor: pointer;
        }
      }
      .title-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 450px;
        height: 50px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;

        span {
          color: $colorActiveItemMenu;
          opacity: 0.8;
          font-size: 18px;
        }
        img {
          cursor: pointer;
        }
      }

      /* Let's get this party started */
      .memo-list::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      .memo-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        // -webkit-border-radius: 10px;
        // border-radius: 10px;
      }

      /* Handle */
      .memo-list::-webkit-scrollbar-thumb {
        // -webkit-border-radius: 10px;
        // border-radius: 10px;
        background: rgba(222, 222, 222, 0.4);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
      }

      .memo-list {
        border-right: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        overflow-y: auto;
        padding-left: 0;
        padding-right: 0;
        .empty {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        height: calc(100vh - 120px);
        .memo-item {
          min-height: 79px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
          border-bottom: 1px solid #f0f0f0;
          position: relative;
          cursor: pointer;
          &:hover {
            background: #f4f4f4;
          }
          &__info p {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
          .clip-memo-item {
            display: none;
          }
          &.active {
            border-left: 5px solid #fe6100;
          }
          &.clip {
            .clip-memo-item {
              position: absolute;
              top: 23px;
              right: 20px;
              width: 32px;
              height: 32px;
              background: rgba(255, 241, 232, 1);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &__title {
            font-size: 18px;
          }
          &__info {
            display: flex;
            margin-top: 10px;
            p {
              .tag-item-icon {
                opacity: 0.5;
              }

              span {
                color: #313f46;
                opacity: 0.5;
                font-size: 14px;
              }
            }
            &--cate {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .memo-area {
      .tools-bar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        .tools3 {
          display: flex;
        }
        &__item {
          width: 80px;
          height: 40px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #cdd6dd;
          border-radius: 52px;
          display: flex;
          align-items: center;
          padding-left: 12px;
          cursor: pointer;
          img {
            margin-right: 7px;
          }
          &.clip.active {
            background: rgba(255, 241, 232, 1);
            color: rgba(254, 128, 51, 1);
          }
          &.save,
          &.clip {
            margin-left: 15px;
          }
          &.clip,
          &.delete {
            img {
              margin-right: 4px;
            }
            &.forever {
              background: rgba(230, 126, 34, 1);
            }
          }
          &.delete {
            background: rgba(49, 63, 70, 1) 0% 0% no-repeat padding-box;
            color: rgba(255, 255, 255, 0.93);
          }
          &.restore {
            background: rgba(49, 63, 70, 1) 0% 0% no-repeat padding-box;
            color: rgba(255, 255, 255, 0.93);
            width: 90px;
          }
        }
      }
      .memo-detail {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 30px;

        &--info {
          display: flex;
          div {
            color: rgba(43, 49, 55, 1);
            align-items: center;
            img {
              margin-right: 7px;
            }
            &.cate,
            &.time {
              padding: 10px;
              position: relative;
              &.edit {
                border: 1px solid rgba(222, 222, 222, 0.5);
                border-radius: 20px;
                cursor: pointer;
                &:hover {
                  background: rgba(222, 222, 222, 0.2);
                }
              }
            }
            &.cate {
              margin-left: 20px;
              position: relative;

              &_popup {
                p.title {
                  width: 100%;
                  padding-left: 15px;
                  padding-top: 15px;
                  padding-bottom: 15px;
                }
                &.active {
                  display: block !important;
                }
                padding: 0;
                display: none !important;
                position: absolute;
                background: rgba(254, 254, 254, 0.8);
                top: 37px;
                left: 4px;
                border-radius: 2px;
                box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                min-width: 250px;
                &__list {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  max-height: 250px;
                  overflow-y: auto;

                  /* Let's get this party started */
                  &::-webkit-scrollbar {
                    width: 5px;
                  }

                  /* Track */
                  &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                  }

                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: rgba(222, 222, 222, 0.5);
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                  }
                }
                &__cate-item {
                  width: 100%;
                  position: relative;
                  padding: 10px;
                  padding-left: 20px;
                  &:hover {
                    background: rgba(240, 240, 240, 1);
                  }
                  .img-cate {
                    margin-right: 15px;
                  }
                  &.active {
                    .tick {
                      display: block;
                    }
                  }
                  .tick {
                    display: none;
                    position: absolute;
                    right: 12px;
                    top: 13px;
                  }
                }
              }
            }
          }
        }
        &--title {
          min-height: 57px;
          padding-top: 16px;
          padding-bottom: 7px;
          border-bottom: 2px solid rgba(240, 240, 240, 1);
          input {
            border: none;
            font-size: 36px;
            font-family: $FuturaPT;
            width: 100%;
            padding: 2px;
          }
        }
        .note {
          .note-tool {
            margin-top: 20px;
            border: none;
            width: 100%;
            min-height: calc(100vh - 232px);
            resize: none;
            font-family: $FuturaPT;
            color: rgba(43, 49, 55, 1);
            font-size: 16px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
}
.date-time-picker {
  padding: 0 !important;
  position: absolute;
  width: 300px;
  max-width: 350px !important;
  display: none;
  &.active {
    display: block;
  }
}
