@import "./base/reset";
@import "./base/font";
@import "./base/variable";
span.MuiButton-label {
  justify-content: flex-start;
}
button.MuiButton-root {
  line-height: unset;
}

.wrapper {
  display: grid;
  grid-template-columns: 269px auto;
  font-family: $FuturaPT;
  height: 100vh;
  overflow: hidden;

  .popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 1, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    &__box {
      padding: 20px 30px;
      width: 390px;
      height: 210px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);

      &__title {
        font-size: 18px;
        height: 60px;
      }
      &__text-input {
        margin-bottom: 44px;
        input {
          border: none;
          border-bottom: 2px solid rgba(222, 222, 222, 0.5);
          width: 100%;
          font-size: 20px;
          &:focus {
            border-bottom: 2px solid rgba(27, 103, 153, 1);
          }
        }
      }
      &__control {
        display: flex;
        justify-content: flex-end;
        & > div {
          margin: 3px;
          width: 81px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: rgb(41, 47, 59);
          &:hover {
            background: rgba(222, 222, 222, 0.8);
          }
        }
      }
    }
  }

  .menu-area {
    // position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #313f46 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    color: $colorTextMenu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    &__bottom {
      display: flex;
    }
    &__logout,
    &__delete {
      padding-left: 10px;
      display: flex;
      align-items: center;
      color: white;
      text-transform: none;
      font-size: 15px;
      font-family: $FuturaPT;
      font-weight: normal;
      cursor: pointer;
      width: 150px;
      border-radius: 20px;
      &:hover {
        background: $colorHoverItemMenu;
      }
      &.active {
        background: $colorActiveItemMenu;
      }
      padding: 10px;
      padding-left: 10px;
      img {
        margin-right: 10px;
      }
    }
    &__logout {
      width: 140px;
      img {
        margin-right: 15px;
      }
    }

    .create-new {
      height: 50px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 50px;
      opacity: 1;
      display: flex;
      align-items: center;
      padding-left: 25px;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        background: rgba(254, 254, 254, 0.95);
        // box-shadow: inset 58px 16px 94px -93px rgba(6, 6, 8, 0.9);
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
          0 1px 18px 0 rgba(0, 0, 0, 0.12);
      }

      span {
        font-family: $FuturaPT;
        color: $colorActiveItemMenu;
        margin-left: 17px;
        font-size: 16px;
      }
    }

    .menu-item {
      width: 100%;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      // padding-left: 25px;
      font-family: $FuturaPT;
      color: $colorTextMenu;
      position: relative;
      cursor: pointer;
      span {
        margin-left: 17px;
        font-size: 16px;
        text-transform: none;
        &.MuiTouchRipple-root {
          margin-left: 0;
        }
      }
      &.active {
        background: $colorActiveItemMenu 0% 0% no-repeat padding-box;
      }
      &:hover {
        background: $colorHoverItemMenu;
      }
    }

    .quantity {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 40px;
      height: 30px;
      background: #454e55 0% 0% no-repeat padding-box;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
    .category-area {
      display: flex;
      width: 100%;
      color: white;
      font-family: $FuturaPT;
      text-transform: unset;
      font-size: 16px;
      padding-left: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
      transform: 1s;
      cursor: pointer;
      p {
        margin-left: 17px;
      }
      border-radius: 50px;
      &.active {
        background: $colorActiveItemMenu;
      }
      &:hover {
        background: $colorHoverItemMenu;
      }
      .arrow-cate {
        position: absolute;
        top: 17px;
        right: 20px;
        transition: transform ease-in-out 0.7s;
        &.up {
          transform: rotate(540deg);
        }
      }
    }

    /* Let's get this party started */
    .category-list::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    .category-list::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    .category-list::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(222, 222, 222, 0.4);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    // .category-list::-webkit-scrollbar-thumb {
    //   background: rgba(255, 0, 0, 0.4);
    // }
    .scroll-bar-wrap {
      position: relative;
      margin-right: -3px;
      .cover-bar {
        position: absolute;
        background: #313f46 0% 0% no-repeat padding-box;
        height: 100%;
        top: 0;
        right: -2px;
        width: 8px;
        -webkit-transition: all 0.5s;
        opacity: 1;
      }
      &:hover .cover-bar {
        opacity: 0;
        -webkit-transition: all 0.5s;
      }
    }
    .category-list {
      padding-left: 26px;
      max-height: calc(100vh - 320px);
      overflow-y: auto;
      transition: all .5s ease-in-out;

      &.hidden {
        display: none;
      }
      .category-item-cover {
        padding-right: 6px;
      }
      .category-item {
        position: relative;
        padding-left: 15px;
        width: 100%;
        color: white;
        font-family: $FuturaPT;
        margin-right: 7px;
        display: flex;
        min-height: 40px;
        align-items: center;
        border-radius: 30px;
        cursor: pointer;

        p {
          margin-left: 13px;
          text-transform: none;
          font-size: 16px;
          letter-spacing: 0;
        }
        .quantity {
          top: 5px;
          right: 10px;
        }

        .control-cate {
          position: absolute;
          top: 5px;
          right: 10px;
          width: 40px;
          height: 30px;
          // background: #454e55 0% 0% no-repeat padding-box;
          border-radius: 50px;
          align-items: center;
          justify-content: center;
          display: none;
          div {
            padding: 4px;
            img:hover {
              transform: scale(1.3);
            }
          }
        }
        &.active {
          background: $colorActiveItemMenu;
        }
        &:hover {
          background: $colorHoverItemMenu;
          .quantity {
            display: none;
          }
          .control-cate {
            display: flex;
          }
        }
      }
    }
  }

  .main-area {
    display: grid;
    grid-template-columns: 359px auto;

    .title-area {
      & > div {
        padding-left: 20px;
        padding-right: 20px;
      }
      .search-box {
        // width: 450px;
        height: 70px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;
        padding-top: 15px;
        position: relative;

        .search {
          width: 100%;
          height: 40px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #cdd6dd;
          border-radius: 120px;
          padding-left: 21px;
          padding-right: 50px;
          font-family: $FuturaPT;

          &::placeholder {
            color: #cdd6dd;
          }
          &:focus {
            border: #072944;
          }
        }
        .search-icon {
          position: absolute;
          top: 25px;
          right: 41px;
          cursor: pointer;
        }
      }
      .title-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: 450px;
        height: 50px;
        background: #f4f4f4;
        border: 1px solid #dcdcdc;
        button {
          margin-left: -12px;
        }
        span {
          color: $colorActiveItemMenu;
          opacity: 0.8;
          font-size: 18px;
          text-transform: none;
          font-family: $FuturaPT;
        }
        img {
          cursor: pointer;
        }
        img.down {
          cursor: pointer;
          transform: rotateX(540deg);
        }
      }

      /* Let's get this party started */
      .memo-list::-webkit-scrollbar {
        width: 7px;
      }

      /* Track */
      .memo-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        // -webkit-border-radius: 10px;
        // border-radius: 10px;
      }

      /* Handle */
      .memo-list::-webkit-scrollbar-thumb {
        // -webkit-border-radius: 10px;
        // border-radius: 10px;
        background: rgba(222, 222, 222, 0.4);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
      }

      .memo-list {
        border-right: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        overflow-y: auto;
        padding-left: 0;
        padding-right: 0;
        .empty {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
        }
        height: calc(100vh - 120px);
        
        .memo-item {
          min-height: 79px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 15px;
          padding-right: 15px;
          border-bottom: 1px solid #f0f0f0;
          position: relative;
          cursor: pointer;
          &:hover {
            background: #f4f4f4;
          }
          &__info p {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
          }
          .clip-memo-item {
            display: none;
          }
          &.active {
            border-left: 5px solid #fe6100;
          }
          &.clip {
            .clip-memo-item {
              position: absolute;
              top: 23px;
              right: 20px;
              width: 32px;
              height: 32px;
              background: rgba(255, 241, 232, 1);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          &__title {
            font-size: 18px;
          }
          &__info {
            display: flex;
            margin-top: 10px;
            p {
              .tag-item-icon {
                opacity: 0.5;
              }

              span {
                color: #313f46;
                opacity: 0.5;
                font-size: 14px;
              }
            }
            &--cate {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .memo-area {
      .tools-bar {
        display: flex;
        justify-content: space-between;
        height: 70px;
        background: #f4f4f4 0% 0% no-repeat padding-box;
        border: 1px solid #dcdcdc;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 30px;
        .tools3 {
          display: flex;
        }
        &__item {
          width: 80px;
          height: 40px;
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #cdd6dd;
          border-radius: 52px;
          display: flex;
          align-items: center;
          padding-left: 12px;
          cursor: pointer;
          img {
            margin-right: 7px;
          }
          &.clip.active {
            background: rgba(255, 241, 232, 1);
            color: rgba(254, 128, 51, 1);
          }
          &.save,
          &.clip {
            margin-left: 15px;
          }
          &.clip,
          &.delete {
            img {
              margin-right: 4px;
            }
            &.forever {
              background: rgba(230, 126, 34, 1);
            }
          }
          &.delete {
            background: rgba(49, 63, 70, 1) 0% 0% no-repeat padding-box;
            color: rgba(255, 255, 255, 0.93);
          }
          &.restore {
            background: rgba(49, 63, 70, 1) 0% 0% no-repeat padding-box;
            color: rgba(255, 255, 255, 0.93);
            width: 90px;
          }
        }
      }
      .memo-detail {
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 30px;

        &--info {
          display: flex;
          div {
            color: rgba(43, 49, 55, 1);
            align-items: center;
            img {
              margin-right: 7px;
            }
            &.cate,
            &.time {
              padding: 10px;
              position: relative;
              &.edit {
                border: 1px solid rgba(222, 222, 222, 0.5);
                border-radius: 20px;
                cursor: pointer;
                &:hover {
                  background: rgba(222, 222, 222, 0.2);
                }
              }
            }
            &.cate {
              margin-left: 20px;
              position: relative;

              &_popup {
                p.title {
                  width: 100%;
                  padding-left: 15px;
                  padding-top: 15px;
                  padding-bottom: 15px;
                }
                &.active {
                  display: block !important;
                }
                padding: 0;
                display: none !important;
                position: absolute;
                background: rgba(254, 254, 254, 0.8);
                top: 37px;
                left: 4px;
                border-radius: 2px;
                box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                min-width: 250px;
                &__list {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  padding: 0;
                  max-height: 250px;
                  overflow-y: auto;

                  /* Let's get this party started */
                  &::-webkit-scrollbar {
                    width: 5px;
                  }

                  /* Track */
                  &::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                  }

                  /* Handle */
                  &::-webkit-scrollbar-thumb {
                    -webkit-border-radius: 10px;
                    border-radius: 10px;
                    background: rgba(222, 222, 222, 0.5);
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                  }
                }
                &__cate-item {
                  width: 100%;
                  position: relative;
                  padding: 10px;
                  padding-left: 20px;
                  &:hover {
                    background: rgba(240, 240, 240, 1);
                  }
                  .img-cate {
                    margin-right: 15px;
                  }
                  &.active {
                    .tick {
                      display: block;
                    }
                  }
                  .tick {
                    display: none;
                    position: absolute;
                    right: 12px;
                    top: 13px;
                  }
                }
              }
            }
          }
        }
        &--title {
          min-height: 57px;
          padding-top: 16px;
          padding-bottom: 7px;
          border-bottom: 2px solid rgba(240, 240, 240, 1);
          input {
            border: none;
            font-size: 36px;
            font-family: $FuturaPT;
            width: 100%;
            padding: 2px;
          }
        }
        .note {
          .note-tool {
            margin-top: 20px;
            border: none;
            width: 100%;
            min-height: calc(100vh - 232px);
            resize: none;
            font-family: $FuturaPT;
            color: rgba(43, 49, 55, 1);
            font-size: 16px;
            letter-spacing: 0.2px;
          }
        }
      }
    }
  }
}
.date-time-picker {
  padding: 0 !important;
  position: absolute;
  width: 300px;
  max-width: 350px !important;
  display: none;
  &.active {
    display: block;
  }
}
#login-page {
  background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;

  &.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }

  &:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, 0.6);
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1;
  }
}

.overbox .title {
  color: #fff;

  &:before {
    background: #fff;
  }
}

#login-page .title {
  width: 100%;
  float: left;
  line-height: 46px;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  position: relative;

  &:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    background: #ED2553;
  }
}

.input {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  label, input, .spin {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

  button .button.login button i.fa {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.material-button .shape {
  &:before, &:after {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.button.login button {
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.material-button, .alt-2, .material-button .shape, .alt-2 .shape, .box {
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  width: 100%;
  float: left;

  label, input, .spin {
    width: 100%;
    float: left;
  }
}

.button {
  width: 100%;
  float: left;

  button {
    width: 100%;
    float: left;
  }
}

.input, .button {
  margin-top: 30px;
  height: 70px;
}

.input {
  position: relative;

  input {
    position: relative;
  }
}

.button {
  position: relative;

  button {
    position: relative;
  }
}

.input {
  input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
  }

  label {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
  }
}

.button button {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

.input {
  &:before, .spin {
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
  }

  .spin {
    background: #ED2553;
    z-index: 4;
    width: 0;
  }
}

.overbox .input {
  .spin {
    background: rgba(255, 255, 255, 1);
  }

  &:before {
    background: rgba(255, 255, 255, 0.5);
  }
}

.input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  cursor: pointer;
  line-height: 60px;
}

.button {
  &.login {
    width: 60%;
    left: 20%;

    button {
      width: 100%;
      line-height: 64px;
      left: 0%;
      background-color: transparent;
      border: 3px solid rgba(0, 0, 0, 0.1);
      font-weight: 900;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.2);
    }
  }

  button {
    width: 100%;
    line-height: 64px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.2);
  }

  &.login {
    margin-top: 30px;
  }

  margin-top: 20px;

  button {
    background-color: #fff;
    color: #ED2553;
    border: none;
  }

  &.login button {
    &.active {
      border: 3px solid transparent;
      color: #fff !important;

      span {
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
      }

      i.fa {
        opacity: 1;
        transform: scale(1) rotate(-0deg);
        -webkit-transform: scale(1) rotate(-0deg);
        -ms-transform: scale(1) rotate(-0deg);
      }
    }

    i.fa {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      line-height: 60px;
      transform: scale(0) rotate(-45deg);
      -webkit-transform: scale(0) rotate(-45deg);
      -ms-transform: scale(0) rotate(-45deg);
    }

    &:hover {
      color: #ED2553;
      border-color: #ED2553;
    }
  }

  margin: 40px 0;
  overflow: hidden;
  z-index: 2;

  button {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
}

.pass-forgot {
  width: 100%;
  float: left;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #ED2553;
  border-radius: 50%;
}

.overbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  border-radius: 10px;
  padding: 60px 50px 40px 50px;

  .title, .button, .input {
    z-index: 111;
    position: relative;
    color: #fff !important;
    display: none;
  }

  .title {
    width: 80%;
  }

  .input {
    margin-top: 20px;

    input, label {
      color: #fff;
    }
  }

  .material-button, .alt-2 {
    display: block;

    .shape {
      display: block;
    }
  }
}

.material-button, .alt-2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #ED2553;
  position: absolute;
  top: 40px;
  right: -70px;
  cursor: pointer;
  z-index: 100;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
}

.material-button .shape, .alt-2 .shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.material-button .shape:before, .alt-2 .shape:before, .material-button .shape:after, .alt-2 .shape:after {
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg);
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
}

.material-button .shape:before, .alt-2 .shape:before {
  width: 25px;
  height: 4px;
}

.material-button .shape:after, .alt-2 .shape:after {
  height: 25px;
  width: 4px;
}

.material-button.active, .alt-2.active {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0deg);
  -webkit-transform: translate(50%, -50%) rotate(0deg);
  -ms-transform: translate(50%, -50%) rotate(0deg);
}




.materialContainer {
  width: 100%;
  max-width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;

  &:after, &::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
  }
}


.btn {
  line-height: 31px;
  position: relative;
  padding: 5px 22px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.btn i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}

.btn .badge {
  margin-left: 7px;
}

.z-depth-1, .btn, .btn-floating {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1-half, .btn:hover, .btn-floating:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.btn-default {
  color: #fff;
  background-color: #2BBBAD;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #30cfc0 !important;
  color: #fff !important;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}